/* For the .header, .menu and .content classes, the top, left, right control the positioning. notice how the top of menu is 50px - just like the height of the .header. Similarly, the top and left margins of .content are the same as the size of the header and menu - making it so it does not get buried by either. */

/* TODO: Add bold/underline styling for all links. replace the <em> and <strong> tags from the bio page with css. Maybe bold underline links that grow in size and are italicized on hover?v0 */
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10pt;
}

body {
  background-image: url(img/shreds.jpg);
  background-size: 100% auto; 
  background-repeat: repeat;
}

a:link {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: black;
  text-decoration: underline;
  font-size: 1.1em;
  font-weight: bolder;
  
}

a:active {
  color: black;
  text-decoration: underline;
  font-size: 1.1em;
  font-weight: bolder;
  font-style:italic;
}

a:visited {
  color: black;
}

p {
    line-height: 1.7em;
    text-indent: 5%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}



.header {
  position: sticky;
  top: 0;
  height: 60px;
  /*
  width: 80%;
  */
  max-width: 800px;
  background-color: #ccc;
  border-radius: 10px;
}
 
.header h1 {
  padding-left: 20px;
  padding-top: 10px;
}

.menu {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 112px;
  min-width: fit-content;
  background-color: #eee;
  overflow-y: auto;
  border-radius: 5px;
}

.menu::after {
  content: "";
  display: block;
  height: 10px;
}

.menu li a {
  display: block;
  text-decoration: none;
  font-weight: 600;
}

.content {
  margin-top: 50px;
  margin-left: 180px;
  padding: 20px;
  background-color: #fff;
  width: 50%;
  max-width: 500px;
  min-width: 200px;
  word-wrap: break-word;
  border-radius: 5px;
} 
