/* For the .header, .menu and .content classes, the top, left, right control the positioning. notice how the top of menu is 50px - just like the height of the .header. Similarly, the top and left margins of .content are the same as the size of the header and menu - making it so it does not get buried by either. */

body {
  background-image: url(img/shreds.jpg);
  background-size: 100% auto; 
  background-repeat: repeat;
}

img {
  /* max-width: 100%; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

li a {
  display: block;
  text-decoration: none;
}

.header {
    position: fixed;
    top: 40px;
    left: 10px;
    right: 15%;
    height: 60px;
    background-color: #ccc;
}
  
.header-name {
  padding-left: 20px;

}

.menu {
  position: fixed;
  top: 140px;
  left: 50px;
  width: 100px;
  background-color: #eee;
  overflow-y: auto;
}

.menu::after {
  content: "";
  display: block;
  height: 10px;
}

.content {
  margin-top: 130px;
  margin-left: 180px;
  padding: 20px;
  background-color: #fff;
  width: 50%;
  max-width: 500px;
  min-width:fit-content;
  word-wrap: break-word;
} 

/* Styling rules only for devices that are `max-width: 600px` and smaller */
/* TODO/FIXME: Add flex rules to display items in a column on smaller screens */
@media screen and (max-width: 800px) {
    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
}

