.qr-container {
    display: flex;
    max-height: 33%;
    justify-content: space-between;
}

.qr-container img {
    flex: 1 1 auto;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.background {
    background-image: url(/img/shreds.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    padding: 1rem 5rem;
    flex: 1 1 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 5%;
    max-height: 65%;
    align-items: center;
    flex-direction: column;
}

body {
    font-family: Helvetica, Cambria, 'Courier New';
    font-size: 24px;
    line-height: 2em;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
}

.qr-container,
.background {
    flex: 1;
    overflow: hidden;
}

ul {
    text-decoration: none;
}

@page {
    size: A4;
    margin: 0;
}

@media print {

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    html,
    body {
        height: 210mm;
        width: 297mm;
    }

    @page {
        margin-top: 0;
        margin-bottom: 0;
    }

    body {
        padding-top: 72px;
        padding-bottom: 72px;
    }
}